/*************************************************************************\
 * help.rc
 *
 * This file contains help table definition for the program lifepm
 * 
 * (C) 1994 by Ralf Seidel
\*************************************************************************/


/*************************************************************************\
 * Main help table defition:
 * This table associates every application window with a help subtable.
 * This table has to be orderd in the following manner:
 * Keyword			resource id of		subtable id      default help panel
 *                related window
\*************************************************************************/
HELPTABLE HELP_TABLE
	BEGIN
	HELPITEM			IDR_MAIN,			STAB_MAIN,			PANEL_MAIN
	HELPITEM			IDD_ABOUT,			STAB_ABOUT,			PANEL_ABOUT
	END

HELPSUBTABLE STAB_MAIN
	BEGIN
	HELPSUBITEM		IDM_FILE,			PANEL_FILE
	HELPSUBITEM		IDM_LOAD,			PANEL_FILE
	HELPSUBITEM		IDM_SAVE,			PANEL_FILE
	HELPSUBITEM		IDM_SAVEALL,		PANEL_FILE
	HELPSUBITEM		SC_CLOSE,			PANEL_FILE

	HELPSUBITEM		IDM_LIFE,			PANEL_LIFE
	HELPSUBITEM 	IDM_OPTIONS,		PANEL_LIFE
	HELPSUBITEM 	IDM_STEP,			PANEL_LIFE
	HELPSUBITEM 	IDM_RUN,				PANEL_LIFE
	HELPSUBITEM 	IDM_STOP,			PANEL_LIFE
	HELPSUBITEM 	IDM_CLEAR,			PANEL_LIFE
	HELPSUBITEM 	IDM_RANDOMIZE,		PANEL_LIFE
	
	HELPSUBITEM		IDM_OPTALG,			PANEL_OPTALG
	HELPSUBITEM		IDM_OPTALGREC,		PANEL_OPTALG
	HELPSUBITEM		IDM_OPTALGSEQ,		PANEL_OPTALG
	HELPSUBITEM		IDM_OPTTOP,			PANEL_OPTTOP
	HELPSUBITEM		IDM_OPTTOPFINIT,	PANEL_OPTTOP
	HELPSUBITEM		IDM_OPTTOPTORUS,	PANEL_OPTTOP
	HELPSUBITEM		IDM_OPTSIZE,		PANEL_OPTSIZE
	HELPSUBITEM		IDM_OPTSIZE1x1,	PANEL_OPTSIZE
	HELPSUBITEM		IDM_OPTSIZE2x2,	PANEL_OPTSIZE
	HELPSUBITEM		IDM_OPTSIZE3x3,	PANEL_OPTSIZE
	HELPSUBITEM		IDM_OPTSIZE4x4,	PANEL_OPTSIZE
	HELPSUBITEM		IDM_OPTSIZE5x5,	PANEL_OPTSIZE
	HELPSUBITEM		IDM_OPTSIZE6x6,	PANEL_OPTSIZE
	HELPSUBITEM		IDM_OPTSIZE7x7,	PANEL_OPTSIZE
	HELPSUBITEM		IDM_OPTSIZE8x8,	PANEL_OPTSIZE
	HELPSUBITEM		IDM_OPTSIZE9x9,	PANEL_OPTSIZE
	HELPSUBITEM		IDM_OPTSIZE10x10,	PANEL_OPTSIZE


	HELPSUBITEM 	IDM_EDIT,			PANEL_EDIT
	HELPSUBITEM 	IDM_CUT,				PANEL_EDIT
	HELPSUBITEM 	IDM_COPY,			PANEL_EDIT
	HELPSUBITEM 	IDM_PASTE,			PANEL_EDIT

	HELPSUBITEM		IDM_HELP,			PANEL_HELP
	HELPSUBITEM		IDM_HELP4HELP,		PANEL_HELP
	HELPSUBITEM		SC_HELPINDEX,		PANEL_HELP
	HELPSUBITEM		SC_HELPEXTENDED,	PANEL_HELP
	HELPSUBITEM		IDM_ABOUT,			PANEL_HELP
	END


HELPSUBTABLE STAB_ABOUT
	BEGIN
	END


